## Multi-linear regression

In [1]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression

In [18]:
area = pd.Series([2600, 3000, 3200, 3600, 4000, 4100])
bedrooms = pd.Series([3.0, 4.0,np.nan,3.0, 5.0, 6.0])
age = pd.Series([20, 15, 18, 30, 8, 8])
price = ([550000, 565000, 610000, 595000, 760000, 810000])

data = pd.DataFrame({"area": area, "bedrooms":bedrooms, "age":age, "price":price})
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [28]:
data.isna

<bound method DataFrame.isna of    area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000>

In [26]:
import math
median_bed = math.floor(data.bedrooms.median())
median_bed

4

In [27]:
data.bedrooms = data.bedrooms.fillna(median_bed)
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [30]:
clf = LinearRegression()
clf.fit(data[['area', 'bedrooms', 'age']], data.price)

LinearRegression()

In [32]:
clf.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [33]:
clf.intercept_

221323.00186540408

In [36]:
clf.predict([[3000, 3, 40]])

array([498408.25158031])

In [37]:
112.06244194*3000+23388.88007794*3+-3231.71790863*40+221323.00186540408

498408.2515740241